body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    color: #2D2D2D;
}

.main-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #2D2D2D;
    text-align: left;
    margin: 0 0 20px;
    padding-left: 180px;
    font-weight: 100; /* Thin weight */
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-group label {
    width: 150px;
    text-align: right;
    font-size: 16px;
}

.form-group input[type="number"],
.form-group textarea,
.form-group select {
    flex: 1;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px; /* Ensures all inputs, including selects, have the same height */
}

#number-of-images {
    height: 15px; /* Matches the height of other inputs and selects */
}

.form-group textarea {
    resize: vertical;
    min-height: 60px;
}

.form-group button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 160px; /* Align button with input fields */
}

.form-group button:hover {
    background-color: #0056b3;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #007bff;
    outline: none;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.generated-image {
    max-width: 100%;
    height: auto;
}
